@import "lib"

.progressbar
	padding 10 20
	margin 0 -20

	&:hover
		background-color rgba(dark-color-highlight, .4)


.progressbar-bar
	height 10
	background-color dark-color-bg1
	border-radius 5
	display flex
	align-items stretch
	justify-content flex-start

.progressbar-progress
	border-radius 5 0 0 5
	margin 2

.progressbar-label
	padding 5 0
	display flex
	align-items center
	justify-content space-between

	em
		padding 0 5
	span
		flex 1
		text-align right
	span:first-child
		text-align left


.info .progressbar-progress
	background-color color-success

.warning .progressbar-progress
	background-color color-warning

.alert .progressbar-progress
	background-color color-danger
