@import "lib"

.panel.panel-disks
	overflow hidden
	padding 20 10 10
	display grid
	flex-direction unset
	grid-gap 15px 5px
	align-content space-around
	justify-content space-between
	grid-template-columns repeat(auto-fit, minmax(150px, 1fr))


.disk
	width 150
	height 220
	padding 10
	margin auto
	border 1 dark-color-bg3
	background-color dark-color-bg1
	border-radius 10
	position relative
	overflow hidden


.disk-plate
	width auto
	filter drop-shadow(0 0 1px #fff)

	.donut-ring
		fill transparent
		stroke dark-color-bg1
		stroke-width 20

	.donut-hole
		fill dark-color-bg2

	.donut-segment
		fill transparent
		stroke color-success
		stroke-width 17
		stroke-dashoffset 25

.disk-name
	padding 5 0
	text-align center
	font-size 16px
	font-weight 200

.disk-total
	text-align center
	font-size 12px





screw-offset = 10

.disk-screw
	position absolute
	border-radius 20
	background-color dark-color-bg2
	size 10

.disk-screw-tl
	left screw-offset
	top screw-offset

.disk-screw-tr
	top screw-offset
	right screw-offset

.disk-screw-bl
	bottom screw-offset
	left screw-offset

.disk-screw-br
	bottom screw-offset
	right screw-offset
