@import "lib"


.panel
	.system-content
		display flex
		align-items flex-start
		justify-content space-between
		flex-flow row
		overflow hidden
		padding 10 0 0
		height 19vw

	.disks-content
		overflow hidden
		padding 0 10 10
		display grid
		grid-gap 10px
		align-content space-around
		justify-content space-between
		grid-template-columns repeat(auto-fit, minmax(160px, 1fr))
