@import "lib"


.panel
	.system-content
		display flex
		align-items flex-start
		justify-content space-between
		flex-flow row
		overflow hidden
		padding 10 0 0
		height 19vw

	.disks-content
		display flex
		align-items stretch
		justify-content space-between
		flex-flow column
		overflow hidden
		padding 10 20
		border-bottom 1px solid dark-color-bg1
