@import "lib"

html
body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden
	background dark-color-bg1
	color dark-color-text2

body
	font normal 15px sans-serif
	box-sizing border-box
	touch-action none
	user-select none
	overflow-y auto

	*
		box-sizing inherit
