@import "lib"

html
body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden
	background dark-color-bg1
	color dark-color-text2

body
	font normal 15px main-font
	box-sizing border-box
	overflow-y auto

	*
		box-sizing inherit

h1
em
	font-style normal
	color dark-color-accent

h1, h2
	font-weight 200
	margin 0


footer
	height 50

.panel
	display flex
	flex-direction column
	margin 1 0 0
