@import "lib"


.main
	color dark-color-text0
	padding 0 20

	em
		font-style normal
		color dark-color-accent


.panel
	background dark-color-bg2
	color dark-color-text0
	box-shadow dark-shadow
	display flex
	flex-direction column
	margin 20 auto

	.title
		padding 0 20
		height 50
		border-bottom #000
		display flex
		flex-direction row
		align-items center
		justify-content space-between

		h2
			margin 0

	.content
		flex 1 1 auto
		padding 20
