@import "lib"


.system-content
	display flex
	align-items flex-start
	justify-content space-between
	flex-flow row

	table
		table-layout fixed
		border-collapse collapse
		width 100%

		td
			padding 10 20
			border dark-color-bg1

		.label
			width 130

.system-left
.system-right
	flex 1

.system-left
	margin-right 5
.system-right
	margin-left 5
