@import "lib"


.header
	background dark-color-bg2
	color dark-color-text0
	display flex
	align-items center
	justify-content space-between
	padding 0 20
	position sticky
	top 0
	box-shadow 0 2px 5px #0009

	em
		font-style normal
		color dark-color-accent
