@import "lib"

.panel-gauges
	display flex
	align-items flex-start
	justify-content space-between
	flex-flow row
	overflow hidden
	padding 0
	height 20vw
	border-bottom dark-color-bg2


	.gauge
		height 26vw
		margin 0 5
		display flex
		align-items center
		justify-content center
		flex 0.8

		&:first-child
		&:last-child
			flex 0.7

		&:nth-child(3)
			flex 1

		canvas
			width 100% !important
			height 100% !important
