@import "lib"

.panel .gauges-content
	display flex
	align-items flex-start
	justify-content space-between
	flex-flow row
	overflow hidden
	padding 0
	height 18vw


.gauge
	height 22vw
	margin 10
	display flex
	align-items center
	justify-content center

	canvas
		width 95% !important
		height 95% !important

.gauge-L
	flex 1

.gauge-M
	flex 0.85

.gauge-S
	flex 0.7
