@import "lib"

.panel .gauges-content
	display flex
	align-items flex-start
	justify-content space-between
	flex-flow row
	overflow hidden
	padding 0
	height 20vw


.gauge
	height 26vw
	margin 0 5
	display flex
	align-items center
	justify-content center

	canvas
		width 100% !important
		height 100% !important

.gauge-L
	flex 1

.gauge-M
	flex 0.8

.gauge-S
	flex 0.7
