@import "lib"

.services-panel
	header
		cursor pointer
		&.expanded
			display none
		&:hover
			background-color rgba(dark-color-highlight, .4)

.services-list
	display none

	&.expanded
		display block

.service-box
	display flex
	flex-flow row
	align-items center
	justify-content space-between
	padding 0 25
	border-bottom 1px solid dark-color-bg1
	transition background-color .2s
	height 50

	&:last-child
		border-bottom 0

	h3
		margin 0
		font-size 22px
		font-weight 200

		a
			color inherit
			text-decoration none

			&:hover
				text-decoration underline

	.ping
		color inherit
		font-size 12px
		margin-right 10
		height 9


.service-status
	text-transform uppercase
	border-radius 5
	height 26
	width 80
	font-size 14px
	display flex
	align-items center
	justify-content center
	background color-info
	transition opacity .3s ease-out, background-color .3s ease-out

	&.loading
		opacity .7

	&.online
		background-color color-success

	&.offline
		background-color color-danger
